/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #333;
  color: white;
  width: 250px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

#searchInput {
  width: 100%;
  padding: 10px;
}

.user-list {
  list-style: none;
}

.user-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.user-list li:hover {
  background-color: #f0f0f0;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  position: relative;
  overflow: auto;
  max-height: 90%;
  margin: 10px 0;
}
.modal-content ul {
  padding: 20px 10px 20px 20px
}

.modal-content ul p {
  margin-top: 5px;
  text-align: justify;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}

/* Loading and error styles */
.loading {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

/* Utility classes */
.hidden {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
  }
}
